<form class="login-form">
  <label for="login-email" class="login-form__label">Email</label>
  <input id="login-form" class="block-input login-form__input" type="email" placeholder="Email" />

  <label for="login-pass" class="login-form__label">Password</label>
  <input id="login-pass" class="block-input login-form__input" type="password" placeholder="Password" />

  <button class="login-form__submit btn btn--large btn--secondary">Log in</button>
</form>
