<form class="login-form" onsubmit={{action "authenticate"}}>
  <label for="login-email" class="login-form__label">Email</label>
  {{input id="login-email" class="block-input login-form__input" type="email" value=email placeholder="Email"}}

  <label for="login-pass" class="login-form__label">Password</label>
  {{input id="login-pass" class="block-input login-form__input" type="password" value=password placeholder="Password"}}

  <button class="login-form__submit btn btn--large btn--secondary" type="submit">Log in</button>
</form>
