{{!-- {{movie.title}}
{{movie.year}} --}}
<div class="movie-card__image">
  <img src="{{movie.poster}}" />
  <div class="movie-card__actions">
    <button class="movie-card__add"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
  </div>
</div>
