body,
html,
input {
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

input {
  padding: 16px 8px;
  font-size: 17px;
  border-radius: 2px;
  box-sizing: border-box;

  &.block-input {
    display: block;
  }
}

body {
  background-color: #fbfbfb;
}

.logo {
  font-family: 'Cookie', cursive;
}
